{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static "portfolio/style.css" %}">
  <link rel="icon" type="image/png" href="{% static "portfolio/banana.png" %}">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <title>Maxim Rezan</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<body>
  <nav id="topNav" class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "portfolio/banana.png" %}" width="30" height="30" class="d-inline-block align-top" alt="Nick's Logo">
        <span>Maxim Rezan</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="{{ latest_cv.file.url }}" target="_blank">
              <span>CV</span>
              <img src="{% static 'portfolio/cv_icon.png' %}" loading="lazy" alt="CV" style="height: 1em; margin-left: 6px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="{{ latest_portfolio.file.url }}" target="_blank">
              <span>Portfolio</span>
              <img src="{% static 'portfolio/portfolio_icon.png' %}" loading="lazy" alt="Portfolio" style="height: 1em; margin-left: 6px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="https://github.com/watupzack" target="_blank">
              <span>GitHub</span>
              <img src="{% static 'portfolio/github_icon.png' %}" loading="lazy" alt="GitHub" style="height: 1em; margin-left: 6px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="https://www.linkedin.com/in/maxrezan" target="_blank">
              <span>LinkedIn</span>
              <img src="{% static 'portfolio/linked_icon.png' %}" loading="lazy" alt="LinkedIn" style="height: 1em; margin-left: 6px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="https://vk.com/klassniy_perets" target="_blank">
              <span>VK</span>
              <img src="{% static 'portfolio/vk_icon.svg' %}" loading="lazy" alt="VK" style="height: 1em; margin-left: 6px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="https://www.instagram.com/maxrezan/" target="_blank">
              <span>Instagram</span>
              <img src="{% static 'portfolio/insta_icon.png' %}" loading="lazy" alt="Instagram" style="height: 1em; margin-left: 6px;">
            </a>
          </li>
          <li class="nav-item ">
            <a role="button" href="{% url 'blog:all_blogs' %}" class="btn btn-primary">Blog</a>
          </li>
          <li class="nav-item">
            <a role="button" href="{% url 'contact' %}" class="btn btn-success ml-2">Contact me</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
